<h1> <a href="<%= @post.url %>"><%= @post.title %></a></h1>
<p>Description: <%= @post.content %></p>
<%= button_to "Edit post", edit_post_url, method: :get %>
<% @all_comments[nil].each do |comment| %>
    <%= render "comments/nested", comment: comment, all_comments: @all_comments %>
<% end %>


<ol>
  Subs:
  <% @post.subs.try(:each) do |sub| %>
  <li> <%= link_to sub.title, sub_url(sub) %> </li>
  <% end %>
</ol>
<%= button_to "Back to All Subs", subs_url, method: :get %>

<%= render "comments/comment", post: @post %>
